<div class="modal-body">
    <h5 class="popup_title">
        Укажите, куда Вам выслать информационные пакет
        и как можно с Вами связаться чтобы ответить на Ваши дополнительные вопросы
    </h5>
    <form accept-charset="utf-8" method="post" class="form" action="/commit">
        <label class="form_label">
            <input placeholder="Ваше Имя" type="text" name="name" class="form_input" required="">
        </label>

        <label class="form_label">
            <input placeholder="Ваш Instagram" type="text" name="instagram" class="form_input">
        </label>

        <label class="form_label">
            <input placeholder="Ваш телефон (международный)" type="text" name="phone" class="form_input" required="">
        </label>

        <button id="ok" type="submit" class="btn btn-primary main_link">
            Связаться!
        </button>
    </form>
</div>