<main class="main">
    <div class="iframe-box">
        <div class="iframe-wrap">
            <!--            <iframe width="818" height="460" src="https://youtube.com" frameborder="0"-->
            <!--                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
            <!--                    allowfullscreen=""></iframe>-->
        </div>
    </div>

    <button type="button" class="btn btn-primary main_link" data-toggle="modal" data-target="#popup">
        Связаться!
    </button>
</main>